body {
    background-image: url("../img/children-seamless-texture-yellow-background-46674260.jpg");
    margin: 0px;
}

h1 {
  background-color: darkgreen;
  text-indent: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
.col {
    height: 1500px;
    float: left;
    margin: 0.25%;
    border: 2px dotted black;
  }

  .panel {
    width:100%;
    height: 50px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .col-izq {
    width: 14%;
    float: left;
    margin-left: 0px;
  }

  .col-cen {
    width: 46%;
    float: left;
  }

  .col-der {
    width:36%;
    float:left;
    margin-right: 0px;
  }

  ul.lista-links li {
    list-style: none;
    display: inline;
    margin-left: 1px;
    margin-right: 40px;
    font-size: 20px;
  }